.headApps { 
    display: flex;
    justify-content: center;
}

.headTitle { 
    display: flex;
    list-style-type: none;
}

.headTitle li { 
    padding: 0.5em 2em;
}

.headTitle li:hover {
    transform: scale(1.05);
    transition: .2s ease;
}